/* reset */
body, dl, dt, dd, ul, ol, li, pre, form, fieldset, input, p, blockquote, th, td {
  margin:0;
  padding:0;
  font-weight: normal;
  }
  h1, h2, h3, h4, h4, h5 {
  margin:0;
  padding:0;
  font-weight: normal;
  }
  body {
  background-color:#FFFFFF;
  font-family:'Microsoft YaHei',sans-serif;
  text-align:left;
  }
  ol, ul {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    }
    a{
      text-decoration: none;
      color:#ffffff;
    }
img{
margin:0;
padding:0;
font-size:0;
}
.left{
  float:left;
}
.right{
  float:right;
}
    .cf:after{display:block;clear:both;content:"";visibility:hidden;height:0}
    .clf{zoom:1}
/* public */
.wrap{
  width:100%;
  height:100%;
  position: relative;
  top:0;;left:0;
}
.inner{
  width:1200px;
  margin:0 auto;
}
header{
  height:99px;
  width:100%;
  background: url(../img/top.jpg)no-repeat;
}
header .inner{
  position: relative;
}
header .logo{
  width:228px;
  display:inline-block;
  padding-top:24px;
}
header .nav{
  height:100%;
  line-height:96px;
  position: absolute;
  right:0;
  top:0;
}
header .nav li{
  float:left;
  color:#fff;
  margin:0 50px;
  font-size: 18px;
  transition: all .4s;
  background:url(../img/tab_banner.png)no-repeat 500% bottom;
}
header .nav li.active{
  /* border-bottom:3px solid #b28750 */
  background:url(../img/tab_banner.png)no-repeat 100% bottom;
}
header .nav li:hover{
  /* border-bottom:3px solid #b28750; */
  background:url(../img/tab_banner.png)no-repeat 100% bottom;

}
.banner .con{
  position: absolute;
  top:200px;
}
.banner .left .read{
  display:block;
  position: absolute;
  top:210px;
}
.banner .right {
  margin-top:-100px;
}
.banner .right li{
  margin-left:60px;
  margin-bottom:30px;
}
.banner .right .read{
  display:block;
  position: relative;
  bottom:120px;
  left:40px;

}
.cang{
  margin-top:80px;
  margin-bottom:104px;
}
.cang h2{
  font-size: 32px;
  margin-bottom:20px;

}
.cang .wrap{
  border:1px solid #e6e6e6;
  border-top:12px solid #b28850;
  width:400px;
}
.cang .time{
  /* padding-left:30px; */
  padding-top:26px;
}
.cang .wrap .time  p{
  color:#b28850;
  font-size: 26px;
  line-height:42px;
}
.cang .wrap .go{
  border-top:1px solid #d2a05c;
  width:344px;
  margin:20px auto;
}
.cang .wrap .go li{
  position: relative;
  float:left;
  margin-top:36px;
}
.cang .wrap .go li.sq{
  margin-right:36px;
}
.cang .wrap .go  p{
  font-size: 22px;
  position: absolute;
  bottom:20px;
  left:31px;
}
.cang .wrap .go a:hover p{
  font-size: 24px;
}
.cang  .right{
  width:758px;
  position: relative;
}
.cang  .right h2{
  float:left;
}
.cang  .right .more{
  color:#000;
  font-size: 18px;
  float:right;
  line-height:40px;
  position: absolute;
  top:12px;right:0;
}
.cang  .right .time h3{
  padding-left:24px;
  color:#b28850;
  font-size: 22px;
  background:url(../img/gg.jpg)no-repeat left;
}
.cang  .right .time p{
  color:#000;
  padding-left:24px;
  font-size: 24px;
  line-height:42px;
}
.cang  .right .time .read{
  display:block;
  width:143px;
  z-index:99;
  position: relative;
  top:40px;
  left:24px;
}
.cang .swiper-pagination-bullet,.wenc .swiper-pagination-bullet{
  width:14px;
  height:14px;
  background:none;
  border:1px solid #b28850;
  opacity:1;
}
.cang .swiper-pagination-bullet-active,.wenc .swiper-pagination-bullet-active{
  background:#b28850;
  width:14px;
  height:14px;
  opacity:1;
}
.swiper-container2{
  width:100%;
  border:1px solid #e6e6e6;
  height:592px;
}
.cang .swiper-container-horizontal > .swiper-pagination-bullets,.cang .swiper-pagination-custom,.cang .swiper-pagination-fraction {
  bottom: 242px;}

  .news .tabs li a{
    display:inline-block;
    margin-right:64px;
    padding: 20px 0;
    font-size: 32px; 
    margin-bottom:28px;
    color:#000000;
  }
  .news .tabs li.active a{
    color:#b28850;
    border-bottom:2px solid #e2a552;
  }
  .news .tabContent li{
    width:100%;
    height:134px;
    border:1px solid #cccccc;
    padding:20px;
    position: relative;
    margin-bottom:18px;
  }
  .news .tabContent li .right{
    width:820px;

  }
  .news .tabContent li .right h3{
    font-size: 24px;
    line-height:32px;
    margin-bottom:30px;
    letter-spacing: 1px;
    color:#000000;
  }
  .news .tabContent li .right p{
    font-size: 18px;
    line-height: 28px;
    width:590px;
    color:#555555;
  }
  .news .tabContent li .time{
    position: absolute;
    right:50px;
    bottom:12px;
    text-align: right;
  }
  .news .tabContent li:hover  {
    border:1px solid #e2a552;
    box-shadow:1px 0 12px #888888;
    background:#fafafc;
    /* box-shadow:0px 0 1px #fff, /*左边阴影 
    0px 0 1px #fff, 右边阴影  
    0 0px 1px #fff, 顶部阴影  
    0px 0 12px #888888; 底边阴影*/   
  }
  .news .tabContent li:hover .time{
    color:#b28850;
  }
  .teach h2,.sq_h2 {
    font-size:32px;
    text-align: center;
    margin:56px;
  }
  .teach .aaa{
    position: relative;
    color:#ffffff;
    overflow: hidden;
  }
  .teach .a1{
    width:583px;
    height:585px;   
  }
  .teach .a2{
    width:587px;
    height:282px;
  }
  .teach img{
    width:100%;
    transition: all 1s;
  }
  .teach .a1 h4{
    position: absolute;
    bottom:60px;
    left:20px;
    font-size: 28px;
  }
  .teach .a1 p{
    position: absolute;
    bottom:30px;
    left:20px;
    font-size: 18px;
  }
  .teach .a2 h4{
    text-align: left;
    bottom:30px;
    position: absolute;
    font-size: 28px;
    left:20px;
  }
  .teach .a4{
    margin-top:20px;
  }
  .teach .a4 h4{
    text-align: left;
    bottom:30px;
    position: absolute;
    font-size: 28px;
    left:20px;
  }
  .teach .a4 .left,.teach .a4 .right{
    overflow: hidden;
    height:280px;
    width:280px;

  }
  .teach .aaa:hover img{
    transform: scale(1.1);
  }
  .teach .wrap1{
    position: absolute;
    top:0;left:0;
    width:100%;
    height:100%;
    transition: all 1s;
  }
  .teach .aaa:hover .wrap1{
    background:#000;
    opacity:.5;
  }
  .wenc {
    width:100%;
    height:560px;
    background:url(../img/bg_s.jpg)no-repeat;
  }
  .wenc .logo_wrap{
    text-align: center;
    padding-top:18px;
  }
  .wenc .more{
    text-align: right;
  }
  .wenc .more a{
    color:#000000;
  }
  .wenc .bo{
    width:100%;
    height:140px;
    background:#fff;
    text-align: center;
    margin-top:-5px;
  }
  .wenc .bo h3{
    font-size:22px;
    padding-top:25px;
  }
  .wenc .bo a{
    display:block;
    width:92px;
    height:29px;
    margin:42px auto 0;
  }
  .wenc ol{
    margin-top:10px;
    padding-bottom:70px;
  }
  .wenc ol .l{
    margin-right:21px;
  }
  /* .wenc .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: -47px;} */
    .wc{
      padding-top:30px;
    }
    .wc h2{
      line-height:52px;
      font-size: 28px;
    }
    .wc .left{
      width:368px;
      /* margin-right:30px; */
    }
    .wc .s_right{
      width:800px;
      height:306px;
      margin-top:52px;
      background:url(../img/wc_r.jpg)no-repeat;
      padding:14px 0;
    }
    .wc .right{
      position: relative;
    }
    .wc .right h2{
      float:left;
    }
    .wc .right .more{
      display:inline-block;
      color:#000;
      position: absolute;
      right:0;top:22px;
    }
    .wc .s_right .left{
      width:160px;
    }
    .wc .s_right .right{
      width:580px;
      text-align: left;
    }
    .wc .s_right li{
      margin: 0 24px;
      margin-bottom:5px;
      border-bottom:1px solid #e3e1dd;
    }
    .wc .s_right .right h4{
      line-height:36px;
      font-size: 18px;
      color:#000;
    }
    .wc .s_right .right p{
      font-size:16px;
      color:#c6c5c3;
    }
    .wc .s_right .right:hover h4{
      color:#bb9766;
    }
.show{
  width:100%;
  height:430px;
  background:#f0f0f0;
  padding-top:74px;
}
.show .show1{
  width:281px;
  height:362px;
  overflow: hidden;
  position: relative;
  float:left;
}
.show .show1 .wrap{
  width:100%;
  height:100%;
  background:#000;
  position: absolute;
  top:0;left:0;
  z-index:1;
  opacity:0;
}
.show .show1 a:hover .wrap{
  opacity:.4;
}
.show .show1 .bg_i{
  transition: all 1s;
  position: absolute;
  top:0;
  left:0;
}
.show .show1 a:hover .bg_i{
  transform: scale(1.1);
}
.show .show1 h2{
  color:#fff;
  font-size:32px;
  position: absolute;
  top:98px;
  left:50%;
  margin-left:-62px;
  z-index:2;
}
.show .show1 i{
  position: absolute;top:187px;left:50%;
  margin-left:-34px;
  z-index:2;
}
.show .show1.l{
  margin-right:24px;
}
.footer{
  height:500px;
  width:100%;
  background:#222222;
  font-family: PingFangSC-Regular,'Microsoft YaHei', sans-serif;
}
.footer h2{
  font-size: 28px;
  line-height:124px;
  color:#fff;
}
.footer .go li a{
  display:inline-block;
  line-height:44px;
  color:#cccccc;
  font-size:22px;
}
.wxb,.ww{
  margin-top:76px;
}
.wxb a{
  display:inline-block;
  margin-right:16px;
}
.footer .right{
  text-align: right;
}
.footer .right h1{
  color:#ffffff;
  font-size:50px;
}
footer{
  width:100%;
  height:66px;
  background:#313131;
  text-align: center;
}
footer img{
  margin-top:24px;
}